$fontColor: #ffffff; 
$fontFamily: "Montserrat-Bold", sans-serif;
$fontFamilyRobo: "Roboto", sans-serif;
$backGroundColor: rgba(255, 78, 80, 1);
$fontColorDark: rgba(68, 68, 68, 1);
$picColor1: #FF4E50;
$picColor2: #19D4CA;
$picColor3: #FFA710;
$picColor4: #667DF3;
$infoColor: #666666;
$buttonTextColor: rgba(255, 78, 80, 1);
$fontColorGray: #666666;
$fontFooter: #999999;